
main > ul#menu_list > li.blackfriday {
/*   float:right; */
  margin-left: 40px;
}

main > ul#menu_list > li.blackfriday > a {
  display: block;
  width: 142px;
  height: 33px;
  background: url('../img/bf/button.png');
}

main > ul#menu_list > li.blackfriday > a:hover {
  background-position-y:-33px;
}

body.blackfriday {
  background-color: black;
  background-image: url('../img/bf/bgnd-tile.jpg');
}

body.blackfriday > container,
body.blackfriday > container > top,
body.blackfriday > container > main,
body.blackfriday > container > bottom
{
  box-shadow: none;
}

body.blackfriday product_info > info > buy > button:not(:disabled)
{
  background-color: red;
}

body.blackfriday price:before
{
  content: "цена: ";
  color:red;
}

body.blackfriday banner:first-of-type {
  display: block;
  height: 45px;
  margin-top:-31px;
  background-image: url('../img/bf/header_320px.jpg');
  background-size: contain;
}

@media (min-width: 714px) {
  body.blackfriday banner:first-of-type {
    height: 126px;
    background-image: url('../img/bf/header_714px.jpg');
  }
}

@media (min-width: 1024px) {
  main > ul#menu_list > li.blackfriday {
    margin-left: 48px;
  }

  body.blackfriday banner:first-of-type {
    height: 180px;
    background-image: url('../img/bf/header_1024px.jpg');
  }
}