﻿table#products {
  width: 320px;
  margin: 30px 0 12px 0;
}

table#products th:nth-child(2) { width: 32px; }
table#products th:nth-child(3) { width: 48px; }
table#products th:nth-child(4) { width: 32px; }
table#products th:nth-child(5) { width: 24px; }

table#products th, table#products tbody > tr > td { padding: 2px 4px; }
table#products tbody > tr > td:nth-child(2) { margin-left: 5px; }
p#quantity_notice { margin: 4px 10px 0 10px; }
total_price { margin: 0 10px 30px 10px; }

/*
min : 220px + 40px
mid : 614px + 40px
max : 924px + 40px
*/

@media (max-width: 713px) {
  table#products {
    font-size: 8pt;
  }
  
  button#continue {
    display:block;
    margin: 12px auto 0px auto;
  }
  
  table#products tbody > tr > td:first-child > a > img {
    display: none;
    width: 0;
    height: 0;
  }

  table#products tbody > tr > td:first-child,
  table#products tfoot > tr > td:first-child {
    width: 0;
  }
}

@media (min-width: 714px) {
  table#products {
    font-size: 10pt;
    width: 614px;
    margin: 30px 50px 12px 50px;
  }
  
  table#products tbody > tr > td:first-child,
  table#products tfoot > tr > td:first-child {
    width: 65px;
  }

  table#products tbody > tr > td:first-child > a > img {
    display: inline;
    width: 50px;
    height: 50px;
  }
  
  table#products th:nth-child(2) { width: 64px; }
  table#products th:nth-child(3) { width: 80px; }
  table#products th:nth-child(4) { width: 64px; }
  table#products th:nth-child(5) { width: 48px; }
  
  table#products th, table#products tbody > tr > td { padding: 8px 16px; }
  table#products tbody > tr > td:nth-child(2) { margin-left: 20px; }
  p#quantity_notice { margin: 4px 50px 0 50px; }
  total_price { margin: 0 50px 30px 50px; }
  
  total_price > button {
    margin: 0 0 0 16px;
  }
}

@media (min-width: 1024px) {
  table#products {
    width: 924px;
  }
  
  table#products th:nth-child(2) { width: 96px; }
  table#products th:nth-child(3) { width: 112px; }
  table#products th:nth-child(4) { width: 96px; }
  table#products th:nth-child(5) { width: 76px; }
}

table#products th {
  background-color: #5BCBF5;
  color: white;
  font-weight: normal;
  border-left: 1px solid white;
}

table#products th:first-child {
  border-left: none;
}

table#products tbody > tr > td {
  text-align: center;
  color : #7E8084;
}

table#products tbody > tr.canceled > td {
  color:#D0D0D0;
  vertical-align: middle;
}

table#products tbody > tr.canceled > td:nth-child(2) {
  text-decoration: line-through;
}

table#products tbody > tr > td:first-child,
table#products tfoot > tr > td:first-child {
  border-left: 1px solid #F0F0F0;
  padding: 15px 0 15px 15px;
}

table#products tbody > tr > td:last-child > button {
  background: none;
  border: none;
  cursor: pointer;
}

table#products tbody > tr > td > input {
  text-align: right;
  width: 24px;
}

table#products tbody > tr > td:nth-child(2) {
  text-align: left;
}

table#products tbody > tr > td:nth-child(2) > a,
table#products tbody > tr > td:nth-child(2) > a:visited {
  color : #7E8084;
}

table#products tbody > tr.noq > td:nth-child(2) > a:after
{
  content: ' *';
  color: #5BCBF5;
}

table#products tbody > tr > td:last-child,
table#products tfoot > tr > td:last-child {
  border-right: 1px solid #F0F0F0;
}

table#products tfoot td {
  text-align: center;
  color: #7E8084;
  vertical-align: middle;
}

table#products tfoot td:first-child {
  text-align: right;
}

table#products tfoot td select {
  /*font-size: 13pt;*/
  font-weight: normal;
}

table#products tfoot > tr:last-child > td {
  border-bottom: 1px solid #F0F0F0;
}

table#products tbody > tr > td:nth-child(4):after,
table#products tbody > tr > td:nth-child(5):after,
table#products tfoot > tr > td#shippingPrice:after
{
  content: " лв.";
}

p#quantity_notice {
  color: #5BCBF5;
  display: block;
  padding: 0;
}

total_price {
  text-align: right;
  display: block;
}

total_price > price:before {
  content: "Общо: ";
}

total_price > price:after {
  content: " лв.";
}

total_price > button {
  cursor: pointer;
  color: white;
  background-color: #59ccf4;
  border: 1px solid #75c4e8;
  user-select: none;
  text-transform: lowercase;
  font-size: 18px;
  padding: 4px 12px 6px 12px;
}

total_price > button:disabled {
  cursor:default;
  color: #E0E0E0;
  background-color: #AEAEAE;
  border-color: #808080;
}