﻿products {
  display: block;
  padding-bottom: 38px;
}

products > a {
  display: inline-block;
  margin: 38px 0 0 50px;
  padding: 0;
}

product {
  display: inline-block;
}

product > img {
  display: block;
  width: 220px;
  height: 220px;
  border:1px solid #F0F0F0;
}

products > a:hover > product > img
{
  border-color: #5BCBF5;
}

products > a:hover > product > h1,
products > a:hover > product > p
{
  color: #5BCBF5;
}

@media (min-width: 714px) {
  products > a {
    margin-left: 90px;
  }
}

@media (min-width: 1024px) {
  products > a {
    margin-left: 90px;
  }
}

product > h1,
product > p
{
  color: #A7A9AC;
  display: inline-block;
  margin: 0;
}

product > h1 {
  font-size: 16px;
  font-weight: normal;
  float: left;
}

product > p:last-child {
  float: right;
}
