﻿html, body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  line-height: 150%;
}

body {
  /* background: #5BCBF5; */
  background: #C0DFF9;
}

a { text-decoration:none; }
a > * { vertical-align: center; }

container,
container > * {
  width: 320px;
  box-shadow: 0 0 30px #808080;
}

@media (min-width: 714px) {
  container,
  container > * {
    width: 714px;
  }
}

.grayed {
  color: gray;
}

@media (min-width: 1024px) {
  container,
  container > * {
    width: 1024px;
  }
}

container {
  display: block;
  margin: 0 auto;
}

top,
bottom,
main {
  display: block;
  position:relative;
}

top,
bottom {
  background: #414042;
  color: white;
}

top {
  top: 0;
  height: 55px;
  line-height: 55px;
  font-family: "Arial Narrow";
}

top > left,
top > right {
  position: absolute;
  font-size: 14px;
}

top > left {
  left:40px;
}
  
top > right {
  right:40px;
}

top > right > a {
  padding-right:25px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

top > right > a:link, 
right > a:visited { color: white; }

top > right > a:hover,
top > right > a.current:link,
top > right > a.current:visited
{
  color:#5BCBF5; 
}

top > right > a:nth-child(1) {
  background-image: url('../img/d/cart-w.png');
  padding-left: 12px;
}

top > right > a:nth-child(1):not(:last-child) {
  margin-right: 12px;
}

top > right > a.current:nth-child(1),
top > right > a:nth-child(1):hover {
  background-image: url('../img/d/cart-b.png');
}

top > right > a:nth-child(2) {
  background-image: url('../img/d/star-w.png');
}

top > right > a:nth-child(2):hover,
top > right > a.current:nth-child(2) {
  background-image: url('../img/d/star-b.png');
}

/*
top > right > a > cart_items:before
{
  content: " (";
}

top > right > a > cart_items:after
{
  content: ")";
}
*/

bottom
{
  height: 80px;
}

@media (max-width: 713px)
{
	bottom
	{
	  height: 185px;
	}
}

main
{
  display: block;
  background: yellow;
  background: white;
  z-index: 1;
  overflow: hidden;
}

main > logo_strip {
  display: block;
  line-height: 160px;
}

main > logo_strip > a > img {
  width: 225px;
  border:none;
}

@media (min-width: 714px) {
  main > logo_strip > a > img {
    width: auto;
  }
}

main > logo_strip > * {
  display: block-inline;
  vertical-align: middle;
}

main > logo_strip > a {
  margin: auto auto auto 50px;
  display: inline-block;
  height: 104px;
  border: none;
}

main > logo_strip  > h1 {
  font-weight:bold;
  font-size: 16px;
  color: black;
  float: right;
  margin: 0 30px 0 0;
}

@media(max-width:714px) {
  main > logo_strip > h1 {
    display: none;
  }
}

@media(max-width:714px) {
  main > about {
    display: none;
  }
}

main > ul#menu_list {
  list-style-type: none;
  margin: 0 30px 30px 30px;
  padding: 0px 20px;
  line-height: 32px;
  
  border-top: 1px solid;
  border-color: #A7A9AC;
  border-bottom: 1px solid;
  border-color: #A7A9AC;
}

main > h1
{
  margin: 0;
  font-size: 12pt;
  font-weight: normal;
}

main > h1,
main > p.page-description {
  margin: 0 0 0 50px;
}

@media (max-width: 713px) {
main > p.page-description {
  margin: 0 0 0 50px;
  font-size: 12px;
}
}

main h1,
main p.page-description {
  color: #5BCBF5;
}

main > ul#menu_list > li > a:link,
main > ul#menu_list > li > a:visited {color:#A7A9AC;}
main > ul#menu_list > li > a:hover {color:#5BCBF5;}

main > ul#menu_list > li.current > a:link,
main > ul#menu_list > li.current > a:visited {color:#5BCBF5;}

main > ul#menu_list > li:last-child > a:link,
main > ul#menu_list > li:last-child > a:visited { color:#000000;}
main > ul#menu_list > li:last-child > a:hover { color:#5BCBF5;}

main > ul#menu_list > li.current:last-child > a:link,
main > ul#menu_list > li.current:last-child > a:visited { color:#4DB0D4;}

main > ul#menu_list > li {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 16px;
}

main > about {
	
  display: none;
  /*font-weight:bold;
  color: #5BCBF5;
  float: right;
  margin-right: 30px;

  list-style-type: none;
  margin: 30px 30px 30px 60px;
  padding: 8px 20px;
  
  border-top: 1px solid;
  border-color: #A7A9AC;
  border-bottom: 1px solid;
  border-color: #A7A9AC;*/
}

bottom > left > a:link,
bottom > left > a:visited { 
  display: inline-block;
  color: white;
  margin: 16px 0 0 30px;
  font-family: "Arial Narrow";
  font-size: 14px;
}

bottom > left > a.current:link,
bottom > left > a.current:visited,
bottom > left > a:hover {
  color: #5BCBF5;
}

bottom > left,
bottom > right
{
  display: inline-block;
}

bottom > left > a:first-child  {
  margin-left:50px;
}

@media (max-width:713px) {
  bottom > left > a:last-of-type {
    margin-left: 50px;
  }
}

bottom > left > :last-child  {
  display: block;
  margin-left:50px;
  color:#5BCBF5;
  font-family: "Arial Narrow";
  font-size: 14px;
}

bottom > right {
  margin: 20px 50px 0 0;
  float: right;
}

bottom > right > a {
  background-size: contain;
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

bottom > right > a#pinterestLink,
bottom > right > a#pinterestLink:visited
{
  background-image: url('../img/d/p-w.png');
}

bottom > right > a#pinterestLink:hover
{
  background-image: url('../img/d/p-b.png');
}

bottom > right > a#facebookLink,
bottom > right > a#facebookLink:visited
{
  background-image: url('../img/d/fb-w.png');
}

bottom > right > a#facebookLink:hover
{
  background-image: url('../img/d/fb-b.png');
}

notification {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(128,128,128, 0.25);
  z-index: 9999;
}

notification.visible {
  display: block;
}

notification > message {
  position: fixed;
  display: block;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;

  padding: 16px;

  vertical-align: middle;

  color: black;
  background-color: #E3F5FC;
  border:1px solid #C9E1EB;
}

notification > message > p {
  margin: 8px 0 2px 0;
}

notification#waitNotification > message {
  width: 400px;
  height: 28px;
  text-align: center;
}

notification#browserSupportNotification > message {
  cursor: pointer;
  width: 294px;
  height: 126px;
}

notification#browserSupportNotification > message > p {
  text-align: left;
}

notification#noLocalStorageNotification > message {
  cursor: pointer;
  width: 296px;
  height: 120px;
  text-align: center;
}

notification#noLocalStorageNotification > message > p:first-child {
  margin-bottom: 24px;
}

@media (min-width: 714px) {
	notification#browserSupportNotification > message {
	  width: 340px;
	  padding: 16px;
      height: 112px;
	}

	notification#noLocalStorageNotification > message {
	  width: 480px;
	  height: 102px;
	}
}
