﻿main > h1 {
  font-size: 17pt;
  font-weight: bolder;
}

info {
  display: block;
  margin: 16px 50px;
  color: #909090;
  font-size: 12pt;
  min-height: 200px;
}

info p {
  margin: 0;
}

info t {
  color: black;
}

info > notice,
info p.notice {
  color: #5BCBF5;
}

info > notice {
  display: block;
  margin: 20px 0;
}
