﻿main > eula
{
  font-size: 9pt;
  color: #848689;
  display: block;
  margin: 20px 30px;
}

/* Use with multi-column (see below) */
/*
main > eula > section
{
  margin-bottom: 80px;
}
*/

main > eula > h1,
main > eula > section > h1
{
  color: #848689;
  font-size: 9pt;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0 10px 0;
}

main > eula > section > p
{
  margin: 12px 0 0 0;
  /* text-align: justify; Use with multi-column (see below) */
}

main > eula > section:last-child > p
{
  margin-top: 4px;
}


main > eula > p.udl
{
  margin: 12px 0 0 0;
  text-decoration: underline;  
}

@media (min-width: 714px) {
  main > eula,
  main > eula > h1,
  main > eula > section > h1 {
    font-size: 10pt;
  }
  /* The next style splits the text into multiple columns */
  /*
  main > eula > section:not(:last-child)
  {
    column-count:2;
    -webkit-column-count: 2;
  
    column-gap: 50px;
    -webkit-column-gap: 50px;
  }
  */
  main > eula
  {
    margin: 20px 50px;
  }

}

@media (min-width: 1024px) {
  main > eula,
  main > eula > h1,
  main > eula > section > h1 {
    font-size: 12pt;
  }
}