﻿slideshow {
  display: block;
  position: relative;
  height: 100px;
  background-color: #5BCBF5;
}

@media (max-width: 713px)
{
	slideshow {
	  display: none;
	}
}

slideshow > div {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

products {
  display: block;
  padding-bottom: 38px;
}

slideshow > div.hide {
  transition: opacity 0.7s; 
  opacity: 0;
  z-index: 9;
}

slideshow > div.show {
  transition: opacity 0.7s; 
  opacity: 1.0;
  z-index: 10;
}


@media (min-width: 714px) {

  slideshow,
  slideshow > div {
    background-color: transparent;
    height: 250px;
  }

  slideshow > div {
    cursor: pointer;
    display: block;
  }
  
  slideshow > div[page="kartasviat"] {
    background-image: url('../img/b/31-714.jpg');
  }

  slideshow > div[page="sluncezakuska"] {
    background-image: url('../img/b/33-714.jpg');
  }

  slideshow > div[page="opashchici"] {
    background-image: url('../img/b/40-714.jpg');
  }
}

@media (min-width: 1024px) {
  slideshow > div[page="kartasviat"] {
    background-image: url('../img/b/31-1024.jpg');
  }

  slideshow > div[page="sluncezakuska"] {
    background-image: url('../img/b/33-1024.jpg');
  }

  slideshow > div[page="opashchici"] {
    background-image: url('../img/b/40-1024.jpg');
  }
}