﻿main p {
  color: #A7A9AC;
  font-size: 11pt;
}

payment {
  display: block;
  margin: 20px 0 0 50px;
}

payment > p {
  margin-bottom: 0px;
}

payment > div {
  margin-top: 8px;
  color: #A7A9AC;
  font-size: 11pt;
}

payment > billing {
  display: block;
  margin: 0;
}

payment > billing > contact {
  display: inline-block;
  vertical-align: top;
  width: 234px;
  margin-right: 50px;
}

payment > billing > contact.transparent {
  opacity: 0.25;
}

payment h1 {
  font-size: 13pt;
  margin: 16px 0;
}

payment > billing > contact > p {
  font-size: 11pt;
  font-weight: normal;
  margin: 8px 0 2px 0;
}

payment > textarea,
payment > billing > contact > input {
  /*background-color: #E8E8E8;
  border: 1px solid #CCCCCC;
  color: #28BFF7; */ /* <- #35C3F9 <- #5BCBF5 */
  font-size: 11pt;
}
payment > billing > contact > input {
  width: 100%;
}

payment > billing > contact > input.invalid {
  border-color: red;
}

payment > textarea
{
  width: 234px;
  height: 80px;
}

payment > payment_options > label {
  margin-left:8px;
  color: #A7A9AC;
  font-size: 11pt;
}

payment > payment_options > p {
  font-size: 10pt;
  margin: 6px 0px 16px 0px;
}

payment > payment_options > p.invalid {
  display:none;
  font-size: 10pt;
  margin: 6px 0px 16px 0px;
}

payment > payment_options.invalid > p.invalid {
  display: block;
  color: red;
  font-size: 11pt;
}

payment > payment_options > p:before,
payment > payment_options > p:after {
  content: " / ";
}

h1#summary_head {
  margin-top: 32px;
}

summary {
  display: block;
  width: 180px;
  padding: 20px 25px;
  background-color: #E3F5FA;
  margin: 0 50px 30px 0;
}

summary > summary_info,
summary > summary_info > * {
  display: block;
}

table#details
{
  display: inline-block;
  font-size: 10pt;
  font-weight: 100;
}

table#details td
{
  padding: 1px 0;
}

table#details td:first-child
{
  padding-right: 16px;
}

table#details td:nth-child(3)
{
  text-align: right;
  padding-left: 4px;
}

summary_info > total_price
{
  width: 180px;
  text-align: right;
}

summary_info > total_price > price_info > *
{
  display: block;
  text-align: right;
}

summary_info > total_price > price_info > price
{
  font-size: 22pt;
  font-weight: bolder;
  margin-left: 4px;
}

summary_info > total_price > price_info > price:after
{
  content:" лв.";
}

summary_info > total_price > price_info > p
{
  font-size: 9pt;
  color: black;
  margin: 0;
}

@media (max-width: 713px) {
  summary_info > div {
    margin-top: 12px;
    text-align: center;
  }
  payment {
    width: 234px;
  }
}

summary_info > div > button {
  cursor: pointer;
  color: white;
  background-color: #59ccf4;
  border: 1px solid #75c4e8;
  user-select: none;
  text-transform: lowercase;
  font-size: 16pt;
  padding: 4px 12px 6px 12px;
}

summary_info > div > button:disabled {
  cursor:default;
  color: #E0E0E0;
  background-color: #AEAEAE;
  border-color: #808080;
}

@media (min-width: 714px) {
  payment > billing > contact {
    width: 270px;
  }
  payment > textarea
  {
    width: 608px;
  }

  summary {
    display: table;
    width: 564px;
  }
  
  summary > summary_info {
    display: table-row;
  }

  summary > summary_info > * {
    display: table-cell;
    vertical-align: middle;
  }
  
  table#details
  {
    width: 260px;
  }
  
  summary_info > div
  {
    width: 131px;
  }

  summary_info > div > button
  {
    margin-left: 16px;
  }  
}

@media (min-width: 1024px) {
  summary {
    width: 874px;
  }
  
  table#details {
    width: 560px;
  }
  
  summary_info > total_price > price_info > price {
    font-size: 26pt;
  }
}
