﻿product_info 
{
  position: relative;
  display: block;
  padding: 0 20px 50px 20px;
  margin: 0 30px;
  border-bottom: 1px solid #A7A9AC;
}

product_info > img
{
  display: inline-block;
  width: 220px;
  vertical-align: top;
  border:1px solid #F0F0F0;
}

product_info > info
{
  display: inline-block;
  width: 210px;
  margin-left: 0;
}

@media (min-width: 714px)
{ 
	product_info > img
	{
	  width: 320px;
	}

	product_info > info
	{
	  width: 254px;
	  margin-left: 24px;
	}
}

@media (max-width: 1023px)
{
 	product_info > info
	{
	  font-size: 10pt;
	}
}

@media (min-width: 1024px)
{ 
	product_info > img
	{
	  width: 460px;
	}

	product_info > info
	{
	  width: 402px;
	  margin-left: 48px;
	}
}

price:before
{
  content: "цена: ";
  color:#59ccf4;
}

price:after
{
  content: " лв.";
}

price 
{
  display: inline-block;  
}

product_info > info > buy
{
  display: block;
  text-align:right;
  margin-top:8px;
}

product_info > info > buy > *
{
  vertical-align: middle;
}

product_info > info > buy > input
{
  margin-left: 40px;
  margin-right: 4px;
  width: 18px;
  font-size: 12px;
  padding: 2px 4px 4px 4px;
  text-align: right;
}

product_info > info > buy > button
{
  cursor: pointer;
  color: white;
  background-color: #59ccf4;
  border: 1px solid #75c4e8;
  user-select: none;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 18px;
  padding: 2px 12px 3px 12px;
}

product_info > info > buy > button:disabled
{
  cursor:default;
  color: #E0E0E0;
  background-color: #AEAEAE;
  border-color: #808080;
}


product_info > info > h1
{
  font-size: 16px;
  font-weight: normal;
  color: black;
  margin: 16px 0;
  display: inline-block;
  text-transform: uppercase;
}
@media (max-width: 713px)
{ 
	product_info > info > images
	{
	  display: none;
	}
}

product_info > info > images > img
{
  cursor: pointer;
  height: 80px;
  margin-left: 0; 
  border:1px solid #F0F0F0;
}

@media (max-width: 713px) {
  product_info > info > images {
    display: none;
  }
}

@media (min-width: 1024px) {
  product_info > info > images > img {
    margin-left: 50px; 
  }
}

product_info > info > images > img:first-of-type
{
  margin-left:0;
}

main p.page-description > a,
main p.page-description > a:visited {
  color: #5BCBF5;
/*  color: #50b0d3; */
}

main > p.page-description
{
  margin-top:12px;
}

products > a {
  margin-top: 38px;
  margin-left: 50px;
}

product > img {
  display: block;
  width: 220px;
  height: 220px;
  border:1px solid #F0F0F0;
}

@media (min-width: 714px) {
  products > a {
    margin-left: 86px;
  }
}

@media (min-width: 1024px) {
  product { 
    font-size: 10pt;
  }
  
  products > a {
    margin-left: 55px;
  }
  
  product > img {
    width: 180px;
    height: 180px;
  }
}
