﻿main > info
{
  font-size: 12pt;
  display: block;
  margin: 20px 50px;
}

main > info:last-child
{
  margin-bottom: 80px;
}

main > info > h1 {
  text-transform: uppercase;
  color: #A7A9AC;
  font-size: 12pt;
}

main > info p
{
  color: #A7A9AC;
  margin: 0;
}

main > info > section
{
  margin: 12px 0;
}

main > info > section > ul,
main > info > section > ol,
main > info > section li {
  margin: 0;
  color: #A7A9AC;
}
